// Local development is intentionally non-production by default.
NAASEH_API_ORIGIN = http:/$()/127.0.0.1:3000
NAASEH_CALLBACK_SCHEME = naaseh-debug
NAASEH_ASSOCIATED_DOMAIN = applinks:localhost
NAASEH_APP_GROUP = group.link.thepandas.naaseh.debug
NAASEH_APNS_ENVIRONMENT = development
NAASEH_CONTRACT_VERSION = 4
NAASEH_ENABLE_PRODUCTION_DATA = NO
NAASEH_ENABLE_NATIVE_TELEMETRY = NO
NAASEH_ENABLE_SIRI_ACTIONS = YES
NAASEH_ENABLE_NATIVE_ALERTS = YES
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.1.0
